In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import sklearn
from sklearn.model_selection import cross_val_score
%matplotlib inline

In [2]:
df = pd.read_csv("train.csv")
df.head()

,data_id,period,c1,c2,c3,c4,c5,c6,c7,c8,...,c80,c81,c82,c83,c84,c85,c86,c87,c88,target
0,2,train1,0.655570,-0.000022,-0.000539,-0.001075,0.0,0.0,0.213390,0.0,...,-0.023358,-0.017041,0.0,0.060697,0.0,0.0,0.000000,-0.000202,-0.140220,1
1,3,train1,1.646430,-0.000292,-0.008367,0.009497,0.0,0.0,0.000000,0.0,...,-0.059429,-0.009109,0.0,0.021645,0.0,0.0,0.000000,-0.004382,0.455767,0
2,5,train1,-0.743010,0.004642,-0.000647,-0.003290,0.0,0.0,0.000000,0.0,...,0.001796,-0.000104,0.0,-0.024718,0.0,0.0,0.219566,0.072711,1.155580,0
3,7,train1,0.029770,-0.006343,-0.000635,-0.002516,0.0,0.0,0.160313,0.0,...,-0.005501,0.045308,0.0,-0.148852,0.0,0.0,0.000000,-0.101181,-0.954553,0
4,10,train1,-0.660243,0.012591,-0.002098,-0.022264,0.0,0.0,0.000000,0.0,...,0.029034,-0.005847,0.0,-0.007073,0.0,0.0,0.000000,-0.004842,0.436002,0

In [3]:
df1 = df[df.period == "train1"]
df1.head()

,data_id,period,c1,c2,c3,c4,c5,c6,c7,c8,...,c80,c81,c82,c83,c84,c85,c86,c87,c88,target
0,2,train1,0.655570,-0.000022,-0.000539,-0.001075,0.0,0.0,0.213390,0.0,...,-0.023358,-0.017041,0.0,0.060697,0.0,0.0,0.000000,-0.000202,-0.140220,1
1,3,train1,1.646430,-0.000292,-0.008367,0.009497,0.0,0.0,0.000000,0.0,...,-0.059429,-0.009109,0.0,0.021645,0.0,0.0,0.000000,-0.004382,0.455767,0
2,5,train1,-0.743010,0.004642,-0.000647,-0.003290,0.0,0.0,0.000000,0.0,...,0.001796,-0.000104,0.0,-0.024718,0.0,0.0,0.219566,0.072711,1.155580,0
3,7,train1,0.029770,-0.006343,-0.000635,-0.002516,0.0,0.0,0.160313,0.0,...,-0.005501,0.045308,0.0,-0.148852,0.0,0.0,0.000000,-0.101181,-0.954553,0
4,10,train1,-0.660243,0.012591,-0.002098,-0.022264,0.0,0.0,0.000000,0.0,...,0.029034,-0.005847,0.0,-0.007073,0.0,0.0,0.000000,-0.004842,0.436002,0

In [7]:
df2 = df[df.period == "train2"]
df2.head()

,data_id,period,c1,c2,c3,c4,c5,c6,c7,c8,...,c80,c81,c82,c83,c84,c85,c86,c87,c88,target
40000,104722,train2,-1.451848,-0.013567,-0.004916,-0.009638,0.000000,0.0000,0.0,0.0,...,-0.056786,0.018370,0.0,0.000176,0.0,0.0,0.0,0.001179,1.952686,0
40001,104726,train2,0.056674,0.009975,-0.000008,-0.000356,0.000000,0.0000,0.0,0.0,...,-0.048978,0.084390,0.0,-0.044561,0.0,0.0,0.0,-0.009645,0.245237,0
40002,104728,train2,1.178704,-0.002399,-0.063818,0.060751,0.000000,0.4453,0.0,0.0,...,-0.133619,0.011723,0.0,-0.027450,0.0,0.0,0.0,-0.007531,1.041051,0
40003,104733,train2,-1.654064,-0.015497,0.004427,-0.014378,0.000000,0.0000,0.0,0.0,...,-0.196004,0.037729,0.0,-0.006746,0.0,0.0,0.0,-0.001479,1.679962,0
40004,104734,train2,0.347447,0.020259,0.013636,0.000040,0.297327,0.0000,0.0,0.0,...,0.166259,-0.183191,0.0,0.122620,0.0,0.0,0.0,0.057559,1.572467,0

In [8]:
df.describe()

,data_id,c1,c2,c3,c4,c5,c6,c7,c8,c9,...,c80,c81,c82,c83,c84,c85,c86,c87,c88,target
count,5.600000e+05,560000.000000,560000.000000,560000.000000,560000.000000,560000.000000,560000.000000,560000.000000,560000.000000,560000.000000,...,560000.000000,560000.000000,560000.000000,560000.000000,560000.000000,560000.000000,560000.000000,560000.000000,560000.000000,560000.0
mean,7.329990e+05,0.007557,-0.000052,-0.000503,-0.001149,0.000169,0.003947,0.007683,0.008374,-0.000930,...,-0.017249,-0.000613,0.010724,-0.000928,0.009099,0.003673,0.006469,0.000440,-0.016546,0.5
std,4.232408e+05,1.028555,0.022317,0.020689,0.065025,0.013475,0.052914,0.044448,0.195341,0.026407,...,0.128480,0.043250,0.057170,0.126877,0.037613,0.035605,0.051869,0.048754,1.025204,0.5
min,2.000000e+00,-4.014821,-0.697343,-0.477931,-1.737655,-0.221279,-0.410262,-0.294782,0.000000,-0.495582,...,-0.999063,-1.270283,-0.033371,-2.706026,-0.047106,-0.085568,-0.086284,-1.785200,-4.159360,0.0
25%,3.664285e+05,-0.786552,-0.007315,-0.007192,-0.020416,-0.000000,0.000000,0.000000,0.000000,-0.009333,...,-0.061520,-0.010795,0.000000,-0.036212,0.000000,0.000000,0.000000,-0.013494,-0.811286,0.0
50%,7.330480e+05,0.002374,0.000002,-0.000077,-0.000150,-0.000000,0.000000,0.000000,0.000000,-0.000184,...,-0.002801,-0.000016,0.000000,-0.000489,0.000000,0.000000,0.000000,0.000031,-0.025170,0.5
75%,1.099738e+06,0.800852,0.007044,0.006404,0.018240,0.000000,0.000000,0.000000,0.000000,0.007996,...,0.044754,0.010828,0.000000,0.032696,0.000000,0.000000,0.000000,0.014327,0.775868,1.0
max,1.466094e+06,4.274689,0.460489,0.540909,1.378423,0.418434,1.355478,0.793288,6.600661,0.322109,...,0.845139,0.617547,0.659691,2.664469,0.435074,0.704358,0.965180,1.186017,3.961918,1.0

In [9]:
df1.describe()

,data_id,c1,c2,c3,c4,c5,c6,c7,c8,c9,...,c80,c81,c82,c83,c84,c85,c86,c87,c88,target
count,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,...,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000
mean,52176.519400,-0.085909,-0.000404,0.000231,-0.000188,0.000669,0.002954,0.006067,0.009211,0.000462,...,-0.006264,-0.001206,0.009506,-0.002389,0.007142,0.002963,0.005733,0.000547,0.152055,0.500000
std,30213.331814,1.020249,0.024852,0.008546,0.020957,0.008057,0.043040,0.035269,0.205835,0.012172,...,0.041815,0.011937,0.051075,0.044597,0.027001,0.027227,0.046567,0.059724,0.988894,0.500006
min,2.000000,-3.086219,-0.697343,-0.060078,-0.101143,-0.058013,-0.281778,-0.086645,0.000000,-0.111715,...,-0.301357,-0.167550,-0.033371,-0.290237,0.000000,-0.004597,-0.008605,-1.785200,-3.402684,0.000000
25%,25980.750000,-0.874606,-0.005652,-0.003069,-0.006839,0.000000,0.000000,0.000000,0.000000,-0.003732,...,-0.025523,-0.004609,0.000000,-0.017261,0.000000,0.000000,0.000000,-0.018546,-0.602591,0.000000
50%,52093.500000,-0.156231,0.000248,0.000061,0.000021,0.000000,0.000000,0.000000,0.000000,0.000218,...,-0.003414,-0.000282,0.000000,-0.000779,0.000000,0.000000,0.000000,0.000008,0.178903,0.500000
75%,78399.250000,0.688178,0.007499,0.003414,0.005878,0.000000,0.000000,0.000000,0.000000,0.004981,...,0.016410,0.002815,0.000000,0.011816,0.000000,0.000000,0.000000,0.019736,0.883131,1.000000
max,104721.000000,3.593416,0.119091,0.088138,0.519066,0.159202,0.783428,0.354438,4.839669,0.086925,...,0.311416,0.164881,0.429171,0.615827,0.211848,0.414371,0.696936,0.975594,3.609878,1.000000

In [10]:
df2.describe()

,data_id,c1,c2,c3,c4,c5,c6,c7,c8,c9,...,c80,c81,c82,c83,c84,c85,c86,c87,c88,target
count,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,...,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000
mean,156919.662250,-0.245849,-0.002506,0.000095,0.001415,0.001650,0.004446,0.006894,0.005137,-0.003811,...,-0.032837,0.001411,0.009610,0.001484,0.009992,0.003311,0.005661,-0.000438,0.025357,0.500000
std,30167.979799,1.002424,0.025377,0.013806,0.032831,0.018993,0.062138,0.042553,0.115518,0.025864,...,0.149275,0.086629,0.050915,0.054561,0.040192,0.032808,0.044100,0.028375,0.942867,0.500006
min,104722.000000,-3.773082,-0.129001,-0.092801,-0.217431,-0.128732,-0.231406,-0.121134,0.000000,-0.170553,...,-0.999063,-1.270283,0.000000,-0.511617,-0.025136,-0.012706,0.000000,-0.385764,-3.239170,0.000000
25%,130819.750000,-0.993031,-0.014310,-0.004487,-0.010896,0.000000,0.000000,0.000000,0.000000,-0.018116,...,-0.099053,-0.027441,0.000000,-0.017300,0.000000,0.000000,0.000000,-0.010902,-0.689508,0.000000
50%,156894.500000,-0.285462,-0.001616,0.000039,0.000347,0.000000,0.000000,0.000000,0.000000,-0.002637,...,-0.011547,0.003369,0.000000,0.000109,0.000000,0.000000,0.000000,-0.000396,0.016850,0.500000
75%,183077.250000,0.490081,0.007347,0.004811,0.013337,0.000000,0.000000,0.000000,0.000000,0.009117,...,0.057611,0.038786,0.000000,0.019685,0.000000,0.000000,0.000000,0.008976,0.743366,1.000000
max,209441.000000,3.027385,0.150808,0.112138,0.331615,0.340251,1.335058,0.561098,3.817592,0.192150,...,0.542219,0.384821,0.436748,0.739793,0.383729,0.655821,0.766828,0.266268,3.417540,1.000000